{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <a class="btn btn-success" href="/negative/add">Create Negative</a>
        <a class="btn btn-info back_home" href="/">Back</a>
        <div class="table">
            {{ grid(gridNegative) }}
        </div>
    </div>
{% endblock %}
