{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <a class="btn btn-success" href="/positive/add">Create Positive</a>
        <a class="btn btn-info back_home" href="/">Back</a>
        <div class="table">
            {{ grid(gridPositive) }}
        </div>
    </div>
{% endblock %}
